.mam__thubnail {
    position: relative;
}

.mam__thubnail .mam__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.mam__background {
    background: url(assets/images/personalBackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.mam__content .section__title {
    color: white;
}

.mam__content .section__description {
    font-size: var(--fs-400);
    color: white;
}

.mam__content .section__title {
    font-size: var(--fs-700);
}

.section__description {
    position: relative;
}

.mam__content {
    --sqs-mobile-site-gutter: 6vw;
    --sqs-site-max-width: 1844px;
    --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
    --cell-max-width: calc((var(--sqs-site-max-width, 1844px) - (11.0px * (8 - 1))) / 8);
    display: grid;
    position: relative;
    grid-area: 1 / 1 / -1 / -1;
    grid-template-rows: repeat(11, minmax(24px, auto));
    grid-template-columns: minmax(var(--grid-gutter), 1fr) repeat(8, minmax(0, var(--cell-max-width))) minmax(var(--grid-gutter), 1fr);
    row-gap: 11.0px;
    column-gap: 11.0px;
}

.mam__html-content {
    grid-area: 4 / 2 / 12 / 10;
    z-index: 6;
}

.mam__content .mam__block-content {
    grid-area: 2 / 2 / 5 / 10;
    z-index: 19;
}

@media (min-width: 768px) {
    .mam__content {
        --sqs-mobile-site-gutter: 6vw;
        --sqs-site-max-width: 1844px;
        --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
        --cell-max-width: calc((var(--sqs-site-max-width, 1844px) - (11.0px * (24 - 1))) / 24);
        --inset-padding: 0vw;
        --row-height-scaling-factor: 0.0215;
        --container-width: min(var(--sqs-site-max-width, 1844px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding)));
        grid-template-rows: repeat(14, minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
        grid-template-columns: minmax(var(--grid-gutter), 1fr) repeat(24, minmax(0, var(--cell-max-width))) minmax(var(--grid-gutter), 1fr);
    }

    .mam__html-content {
        grid-area: 12 / 3 / 15 / 25;
        z-index: 7;
    }
    
    .mam__content .mam__block-content {
        grid-area: 11 / 3 / 13 / 15;
        z-index: 17;
    }
}